/**
 * CSS / SASS Variables
 */

:root {
  --header-height: 100px;

  --st-color-primary: #1A35FF;
  --st-color-secondary: #EE1251;
  --st-color-tertiary: #3D3AD4;

  --form-input-group-bg: #F2F5FF;
  --form-input-group-carret: #2C2C2C;

  --hero-form-control-px: 13px;
  --hero-form-control-py: 14px;
}
